[2020-08-27 05:52] ellisonleao opened #1 "Make border lines customizable"

[2020-08-28 13:05] renatoram opened #2 "Error when executing :Glow"
Hi,
not sure what's the issue here: I open a markdown file in my vim-wiki, then issue `:Glow<CR>` but I get this error:

`E5105: Error while calling lua chunk: /home/USER/.config/nvim/plugged/glow.nvim/lua/glow.lua:36: attempt to index field 'fn' (a nil value)`

[2020-08-28 13:09] renatoram commented on #2
I should add:

* I do have glow installed, and it works in the terminal
* I'm not 100% sure I have everything lua the plugin needs.. I only discovered it was in Lua from the error, but I think I have other lua plugins running without issues
* I'm running neovim, not sure if relevant.

[2020-08-30 03:11] ellisonleao commented on #2
hey @renatoram what neovim version are you using?

[2020-08-31 10:08] renatoram commented on #2
[code]

[2020-08-31 13:58] ellisonleao commented on #2
Oh sorry @renatoram i forgot to mention that i am using new features that are only available on nightly versions. I will update the plugin to make it `0.4.x`  compatible.

[2020-08-31 17:18] renatoram commented on #2
Ah, gotcha, didn't think it could be an issue about that. Thanks!

[2020-08-31 17:26] ellisonleao commented on #2
@renatoram just pushed a fix to make it compatible with older versions, lmk if it worked on your side

[2020-08-31 19:24] renatoram commented on #2
Yay, it works! Thanks again for the fix!

[2020-08-31 19:28] ellisonleao commented on #2
:beers:

[2020-08-31 19:28] #2 closed

[2020-09-25 08:40] Shatur95 opened #3 "Question about hover"
Hi! Thank you for the aweome plugin. I have a question about usage. Is it possible to use to for hover and diagnostic LSP messages? It uses markdown, but built-in Markdown renderer in Neovim is not good :)

[2020-10-08 11:01] maxigaz opened #5 "Files cannot be opened if their names or paths have a space in them"
Using glow.nvim freshly installed through vimplug and glow 1.0.1, running `:Glow` on files whose names or paths contain at least one space produces an error.

Here’s the message that appears when I try it with `/tmp/markdown text.md`:

[code]

If I rename the file to `markdown-text.md`, the plugin works as expected.

[2020-10-08 11:13] maxigaz commented on #5
Never mind, I’ve just noticed that there’s an open pull request for a commit that addresses this. I can confirm that it fixes the problem.

[2020-10-08 11:13] #5 closed

[2020-11-16 02:31] salkin-mada opened #6 "Compatibility with Nvim nightly (v0.5) ?"
`:GlowInstall` does absolutely nothing on `NVIM v0.5.0-828-g0a95549d6`
Maybe i am missing something?

[2020-11-24 14:38] ellisonleao commented on #6
Hey @salkin-mada sorry for the late reply,  i will investigate this issue, but are you able to run the `:Glow` command already without any errors?

[2020-11-24 14:42] ellisonleao commented on #3
the tool we use in the plugin accepts inputs from stdin, maybe that can be a new command that wraps a diagnostic message using the command.. I need to check how we could maybe call a function from glow.nvim lib to a custom diagnostic handler function. I am open to ideas !

[2020-12-11 01:04] salkin-mada commented on #6
Hey. No stress i am also going a bit slow here as you can see :) haha.
I can NOT run the `:Glow` cmd - i get `zsh:1: command not found: glow [Process exited 127]`
because, yes. i don't have `glow`.  should running the `:GlowInstall` manually post/message something?
nothing to see in `:messages`.

[2020-12-11 01:44] ellisonleao commented on #6
hey @salkin-mada yeah i was able to reproduce on my side and i am already working in a fix. Thanks for the report

[2020-12-11 02:29] salkin-mada commented on #6
nice. let me know if i can help testing or something. cant wait to get my glow on and .md native preview/render going in nvim 0.5
:)

[2020-12-11 03:04] ellisonleao commented on #6
@salkin-mada in the meantime you can install manually using `go get github.com/charmbracelet/glow` and just use the :Glow command

[2020-12-12 18:21] ellisonleao commented on #6
hey @salkin-mada just pushed a fix here, can you update and check if its working for you please? (note that GlowInstall can take some time to finish because go get -u for the glow project its taking some time to finish - at least on my side!)

[2020-12-14 10:59] salkin-mada commented on #6
tested here after update. and now I actually get some output when running `:GlowInstall`
but this is the result here.
![scrn-2020-12-14-11-59-47](https://user-images.githubusercontent.com/12082586/102073597-d1c36680-3e03-11eb-9b98-66ae69ae94ce.png)

[2020-12-14 12:56] ellisonleao commented on #6
@salkin-mada what is your go version?

[2020-12-14 13:02] salkin-mada commented on #6
`go version` go1.15.6 linux/amd64

[2020-12-14 13:15] ellisonleao commented on #6
weird, can you `go get -u github.com/charmbracelet/glow`  without errors?

[2020-12-14 13:25] salkin-mada commented on #6
i get
[code]

[2020-12-14 13:29] salkin-mada commented on #6
same checking with `vet`
[code]

[2020-12-14 13:42] ellisonleao commented on #6
weird, i have the same go version and i am not getting this. Seems like getting the compiled binary should be easiest path to solve that issue. Will think about something

[2020-12-24 16:41] morpheusthewhite commented on #2
Similar error for me

[code]

My neovim:

[code]

[2020-12-24 17:17] ellisonleao commented on #2
hey @morpheusthewhite 0.4.4 is not supported anymore. It is being really difficult to maintain code for it. You should use nightly version

[2021-01-07 11:55] cloggier opened #7 "Make preview window scrollable"
It seems like `:Glow` floating window only shows end of rendered output (depending on window size) and does not allow to scroll its content as pressing any button just closes the window (it always prints `[Process exited 0]` at the bottom of floating window, which also could be hidden if no errors were detected).

Looks very promising though, will be happy to replace [iamcco/markdown-preview.nvim]

[2021-01-26 21:59] ellisonleao commented on #7
Hey @cloggier thanks for the suggestion. the `[Process exited 0]` msg is a little bit trickier to remove because i am using a neovim terminal to show the output and i haven't found an easy way to just remove that msg. If you have any suggestions please feel free to open a PR so we can discuss it.

Abou the scrolling part,  i can see the scroll works on my machine using up and down keys and also j,

[2021-02-16 17:16] ellisonleao opened #8 "better handling of glow installation"
Current instalation is broken. The basic steps now are:

[code]

[2021-02-16 17:16] #1 closed

[2021-02-19 03:41] EMPAT94 commented on #6
+1 @ahmed-alahmadi @ellisonleao Same error on MacOS Catalina

---

:Glow -> glow is not installed. Call :GlowInstall to install it

:GlowInstall -> failed to install

$ go get -u github.com/charmbracelet/glow  -> cannot find package "github.com/hashicorp/hcl/hcl/printer" in any of:
	/usr/local/Cellar/go/1.15.8/libexec/src/github.com/hashicorp/hcl/hcl/printer (from $GOROOT)
	/Users/pritesh/go/src/g

[2021-03-01 07:15] fffed commented on #7
@ellisonleao, is it possible to scroll a preview window on an initial render to keep it in sync with the current position of a cursor if we run `:Glow` for the current file?

P.S. thanks for the cool pluggin.

[2021-03-11 08:13] pschmitt opened #9 "Toggle the glow window?"
Hi, cool plugin!

Is there a way to toggle the preview window?

[2021-03-11 13:35] ellisonleao commented on #9
hey @pschmitt not sure what you mean by "preview window". Current `:Glow`  command already pops a floating window with the output. Can you clarify please?

[2021-03-11 13:43] pschmitt commented on #9
Sure, sure what I want is to be able to toggle the terminal window that displays glow.

Workflow-wise this would look like that:

- call `ToggleGlow()` -> show the preview window if not currently displayed, else hide it (as if the user pressed `q`)

[2021-03-16 20:33] ahmedelgabri commented on #7
`glow` has a `--pager` flag but the downside of using that is that you will need to do `q` to exit the pager then close the floating window. So two steps instead of one, in order to exit. Maybe can be an option in the plugin?

[2021-03-16 21:27] #3 closed

[2021-03-16 21:29] ellisonleao commented on #7
yeah, we can definitely grab the position and move the preview window buffer to the same line.

[2021-03-16 21:33] ellisonleao commented on #7
The preview itself should be already scrollable, but i need to check it behaves on small windows, so i don't think the pager is a good default option but can definitely be a flag in the plugin command for sure

[2021-03-16 21:42] ahmedelgabri commented on #7
Yeah, I understand that, but I guess didn't read the main issue properly. @cloggier maybe you need to check your mappings. Because by default it the floating window buffer should be scrollable.

@ellisonleao can we make sure that when the buffer opens that we are always on the top? currently, it jumps to the bottom. So maybe after opening the buffer the plugin sends `gg` to the buffer?

[2021-03-16 21:47] ellisonleao commented on #7
thats probably a bug..

I think for a good user experience it would be nice to put the cursor in the same line as the original buffer. Shouldnt be too hard to make it happen

[2021-03-22 19:20] ellisonleao commented on #9
Will definitely think in a possible func alongside with a mapping for this.

[2021-03-30 21:54] ellisonleao commented on #6
Closing this in favor of #8

[2021-03-30 21:54] #6 closed

[2021-03-30 21:55] ellisonleao commented on #7
closing this since its not an issue. For improvements or suggestions, let's create another ones

[2021-04-27 07:35] hungrybirder opened #13 "Map <ESC> close_window?"
Hi,
Glow window can be closed by `q`. https://github.com/npxbr/glow.nvim/blob/main/lua/glow.lua#L129

Maybe it's a good idea of mapping `<ESC>` to close_window.

[code]

[2021-04-27 12:53] ellisonleao commented on #13
added in https://github.com/npxbr/glow.nvim/pull/12

[2021-04-27 12:53] #13 closed

[2021-05-12 10:01] 0xRZ opened #16 "highlights"
When i first opened glow floating window it looked like this
![Screenshot_20210512_125503](https://user-images.githubusercontent.com/46892933/117956004-4c47d200-b321-11eb-8aab-8f6f9fcf826f.png)
By adjusting NormalFloat highlight group i can change background and border colors of a floating window, but i can not figure out how to change text color, can you advice me if possible how to change it?

[2021-05-12 12:04] ellisonleao commented on #16
hey @0xRZ the floating window relies in your terminal color configs pretty much, but can you share a minimal config for investigation?

[2021-05-12 12:39] 0xRZ commented on #16
nvim --version: NVIM v0.5.0-dev+1314-g7b0edaac5
and vimrc as:
[code]

i get badly distinguishable grey text in floating window that i would like to change
![Screenshot_20210512_153824](https://user-images.githubusercontent.com/46892933/117976169-1eba5300-b338-11eb-9901-7e06fa5c41ad.png)

And i can not understand what highlight group corresponds to it

[2021-05-25 19:53] #8 closed

[2021-05-25 19:55] ellisonleao commented on #16
hey @0xRZ, glow is using a neovim terminal instance inside a buffer. Can you try calling glow command outside neovim and check if you have the same output?

[2021-05-26 03:22] #9 closed

[2021-05-26 03:22] ellisonleao commented on #9
@pschmitt just pushed the feature, using `:Glow` as a toggle command right now. Let me know if that worked for you

[2021-05-27 05:03] lyonelz96 opened #17 ":GlowInstall [Process exited 2]"
**Describe the bug**
I do :GlowInstall and it gives me an error
![image](https://user-images.githubusercontent.com/43832900/119768557-d1d19300-be86-11eb-9045-4b55528c67d5.png)

**To Reproduce**
Steps to reproduce the behavior:
Using the paq package manager

1. Go to init.lua
2. Add
[code]
3. Do :PaqInstall
4. Get Error
5. Try doing :GlowInstall manually, still get error.

**Expected behavior**
Glo

[2021-05-27 13:10] ellisonleao commented on #17
hey @lyonelz96 can you show me the output for `uname -i` and `uname -s | tr "[:upper:]" "[:lower:]"` please?

[2021-05-28 13:22] ellisonleao commented on #17
cool, thanks, it seems arch makes it harder to grab its name. Will think about a fix and push it.

[2021-05-28 22:23] ellisonleao commented on #17
hey @lyonelz96 just pushed a fix, can you check if its working on your side please?

[2021-05-28 23:55] lyonelz96 commented on #17
I get this now:
![image](https://user-images.githubusercontent.com/43832900/120051409-8b974380-bfee-11eb-963c-77294ff0080a.png)

[2021-05-29 00:35] kvietcong opened #18 "Glow Preview completely blank in Powershell"
**Describe the bug**
I try running `:Glow` on Windows with Powershell 7.1.3 but the popup window is completely blank.

If I go into insert mode in the floating window and press enter I get the message `An unknown element "" was received. This can happen if the remote process closed or ended abnormally`

Weirdly enough, it works perfectly well with the original cmd shell.

While this plugin probabl

[2021-05-29 10:07] pluma9 opened #19 "Error occurred during installation on Windows"
## Description

When running `:PlugInstall` to install the plugin, I encountered this error:
`E5108: Error executing lua Vim:E903: Process failed to start: no such file or directory: "/bin/bash"`

## Environment
OS: Windows 10
Nvim: v0.5.0-828-g0a95549d6

[2021-05-29 16:52] ellisonleao commented on #17
new attempt @lyonelz96  hehe

[2021-05-29 17:18] ellisonleao commented on #19
Yeah the script installation does not support windows for now. Can you try installing manually and having `glow` command available in your %PATH until I have a solution?

[2021-05-29 17:20] ellisonleao commented on #18
So you are saying that the `glow` command works outside neovim but not inside? can you share some screenshots please? Unfortunately I don't have a way to test on Windows machines now.

[2021-05-29 19:09] lyonelz96 commented on #17
Haha, it works! Very cool, thank you! @ellisonleao

[2021-05-29 19:14] #17 closed

[2021-05-30 04:56] kvietcong commented on #18
## PowerShell in regular terminal:
![image](https://user-images.githubusercontent.com/32186663/120092520-4e06e900-c0c8-11eb-91b5-35d8143a5de7.png)

## CMD in regular terminal:
![image](https://user-images.githubusercontent.com/32186663/120092529-6840c700-c0c8-11eb-8607-ea7308e9a28e.png)

## Neovim with CMD shell:
![image](https://user-images.githubusercontent.com/32186663/120092533-81497800-c0c8-1

[2021-06-03 15:48] FilBot3 opened #20 "nvim failed to call cmd a nil value"
# The Details

I just installed this plugin by doing

[code]

I am also running Neovim 0.4.4 via apt packages. However,now when I start Neovim, I get the following error.

[code]

The `glow` command is in my PATH and able to be ran.

[2021-06-03 15:51] FilBot3 commented on #20
nvm. I just saw the note about needign Neovim 0.5.*

I will try upgrading to that.

[2021-06-03 18:32] FilBot3 commented on #20
Moving to 0.5.* nightly did the trick.

[2021-06-03 18:32] #20 closed

[2021-06-03 18:49] FilBot3 commented on #7
For me changing Glow's config to `pager: false` made ti so I could scroll in Neovim's window. Just wish i could put it in a second window and do it while editing.

[2021-06-10 09:36] mnacamura opened #21 "Suggested mapping in README"
Hi. Thanks a lot for creating this nice plugin.

In README, the following mapping is suggested.
[code]
Since this plugin is specific to markdown files, I tried buffer-specific mapping:
[code]
Unfortunately with this mapping, I cannot toggle the glow preview window by hitting `<Space>` because the mapping is not enabled in the preview buffer.
So my thought about mapping is that it could be better t

[2021-06-15 19:38] italoaa opened #22 "Packer problem"
![image](https://user-images.githubusercontent.com/72895337/122113206-64f74c00-cde7-11eb-8c96-e375efe7efc7.png)

I ran :PackerInstall and then when executing :GlowInstall it fails I suppose and show the above

this is on mac running fish and also in Iterm

[2021-06-15 20:18] ellisonleao commented on #22
Looks like you have an issue with your locale value in your environment. Can you try:

[code]

and trying again please?

[2021-06-16 00:30] italoaa commented on #22
i have this problem now
tar: Error opening archive: Unrecognized archive format

[2021-07-01 17:45] ofsaleem opened #23 "Installation isn't working on macOS"
I've followed the instructions from the readme (using vim-plug) and installation fails:

[code]

If I try to run :Glow after it says it's not installed, and to run :GlowInstall, which gives me the error above as well. I noticed locally in the folder I was in, there's a `glow.tar.gz` file, but it doesn't seem to be a proper tar file, hence the error:

[code]

[code]

[code]

[2021-07-01 18:16] ellisonleao commented on #23
hey @ofsaleem I just pushed a possible fix, can you test again please? unfortunately I don't have OSX available here for a real test. Let me know if that fixes the problem

[2021-07-01 18:42] ofsaleem commented on #23
same behavior unfortunately :(

[2021-07-01 18:47] ellisonleao commented on #23
@ofsaleem can you output the following commands please?

[code]

and

[code]

[2021-07-01 20:32] ofsaleem commented on #23
[code]

[2021-07-06 05:39] bitsapien commented on #23
I'm on a Mac from 2018, this fails for me too.

[2021-07-06 13:12] ellisonleao commented on #23
@ofsaleem can you try again please?

[2021-07-06 13:12] ellisonleao commented on #22
@italoaa can you try again please?

[2021-07-06 14:55] ellisonleao opened #25 "use ftplugin folder for lazy loading"
Since ftplugin now [supports sourcing lua files](https://github.com/neovim/neovim/issues/12670), we can remove some of the filetype checks and improve the codebase

[2021-07-06 15:23] ofsaleem commented on #23
calling GlowInstall gives me:

[code]
glow.tar.gz is still in the directory, but it looks like a proper tar file now, as its 5.6M and i was able to manually untar it. doing so doesn't help with the :GlowInstall however

[2021-07-06 17:06] ellisonleao commented on #23
@ofsaleem what is the `tar` command you are trying? The basic flow for the current script is to grab a tar from github releases page, untar it and move the glow binary to $GOPATH/bin. You check check it [here](https://github.com/npxbr/glow.nvim/blob/main/lua/glow.lua#L55)

[2021-07-06 17:17] ofsaleem commented on #23
i was just doing `tar -xf glow.tar.gz` but i see the issue, i don't have $GOPATH set. I set that, and added $GOPATH/bin to my $PATH, and now everything works. without $GOPATH set your command was failing since there was no directory to extract to. thanks! maybe something should be put in the readme so people know to have go stuff set in their environment, i had no idea it was gonna be needed for t

[2021-07-06 17:27] ellisonleao commented on #23
cool, i will add that env var check in the install script to avoid more issues

[2021-07-06 17:27] #23 closed

[2021-07-09 02:01] #22 closed

[2021-07-14 14:48] #25 closed

[2021-07-14 14:50] ellisonleao opened #26 "Open preview window in same cursor line"
The idea here is to get the current cursor position and when you call `:Glow` command, the floating window will still keep that position over there

[2021-07-14 14:56] ellisonleao commented on #21
So are you suggesting to have the same mapping added to call the window and to close it? like a toggling feature? The current `:Glow` command already works as a toggle, so if you call the original mapping it will already close the window

[2021-07-14 20:11] ellisonleao opened #27 "add CONTRIBUTING file"

[2021-07-15 01:52] mnacamura commented on #21
I want to map some key (in the above example, `<Space>`) to `:Glow<CR>` only when file type is markdown, not global. The problem for doing this is that the mapping is not available in the preview buffer. So I proposed enabling to customize mapping to toggle preview window in the preview buffer.

[2021-07-15 02:46] ellisonleao commented on #21
This is what i am not  understanding. Do you want a custom mapping to trigger the window AND another one for closing it?

[2021-07-15 04:43] mnacamura commented on #21
Yes. More precisely, I need
[code]
to open a preview window by typing `<Space>` only in markdown file type, AND
[code]
to close the preview window, because the above `autocmd` does not work in the preview window.

[2021-07-19 02:01] Marko-Sanchez commented on #8
As of 7/18/2021, I got a permission denied error when trying to `:GlowInstall` the tar file get's downloaded but I needed to run with sudo permissions on it and fallowed the steps in `glow.lua`:
 `sudo tar -zxf glow.tar.gz -C "$GOPATH/bin"`
 `[ -f "glow.tar.gz" ] && rm "glow.tar.gz" `

[2021-07-19 13:07] ellisonleao commented on #8
hey @Marko-Sanchez what OS are you on?

[2021-07-19 15:20] #16 closed

[2021-07-25 09:06] mortezadadgar opened #28 "Packer installation fail"
Already if I try to install like mentioned in reamdme, :PackerSync fail to install the plugin which occurs bc packer haven't loaded plugin so executing GlowInstall command fail for packer
I can open markdown and manually execute GlowInstall this way works but it's not automated

[2021-07-26 01:56] dominikhaid commented on #28
Same here system is  Debian 11.
I get an error after :PackerInstall if i use  use {"npxbr/glow.nvim", run = "GlowInstall"}.
If i use  {"npxbr/glow.nvim"} everything runs fine but there is not :Glow command in nvim so i cant use it. Its a bit sad i have glow already on my system so the plug should not have to install it but nothing works...

[2021-07-26 14:08] ellisonleao commented on #28
What neovim version are you guys using?

[2021-07-26 15:56] mortezadadgar commented on #28
0.5 stable

[2021-07-27 19:08] ellisonleao commented on #28
@dominikhaid @mortezadadgar can you guys provide more info, like the error you guys are having and some configuration to reproduce it?

[2021-07-27 21:23] dominikhaid commented on #28
For me it is when I use run = "GlowInstall" with packer. The error I get is just "Glow could not be installed". When is install the plug without the run argument everything goes well. And the Plugin is working well. Maybe it's because glow is already installed at my system don't know.

[2021-08-02 16:48] henriquehbr opened #30 "paq-nvim installation fails"
Whenever i try to install `glow.nvim` with [`paq-nvim`](https://github.com/savq/paq-nvim), it simply doesn't works, there's no error output, i'm unable to run both `:GlowInstall` and `:Glow`, they give no output at all, my `plugins.lua` file is like this at the moment:

[code]

Does glow supports `paq-nvim` or only [`packer`](https://github.com/wbthomason/packer.nvim)?

[2021-08-05 14:06] qvieth opened #31 "[Feature] Is there an full screen options?"
Full screen or change window size feature would be really helpful, but it seems like there isn't one, btw thank you for making this plugin!!

[2021-08-05 17:36] ellisonleao commented on #31
no, but we can have configs for window size, let me think about it

[2021-08-06 19:19] ellisonleao commented on #30
That is so weird. Honestly i am not sure about the paq internals, does that `opt=true` adds the plugin as optional until you call `GlowInstall` manually?

[2021-08-06 19:33] ellisonleao commented on #28
What caused the confusion?

[2021-08-06 19:44] dominikhaid commented on #28
Nothing special. It's somewhere in the doc's and I didn't recognized it. Maybe it was just the fact that I was new to Nvim and got that error and the command :Glow was not found on startup. But a bit of research just solved it for me. So for me it's closed.

[2021-08-06 21:40] henriquehbr commented on #30
Yep, just checked again and the plugin is properly installed on `$XDG_DATA_HOME/nvim/site/pack/paqs/opt/glow.nvim`

Whenever i try to `packadd glow.nvim` then `GlowInstall`, the command isn't recognized

[2021-08-07 00:51] ellisonleao commented on #30
are you trying in a markdown file? Sorry, that install command also only works in markdown files for now

[2021-08-07 02:20] henriquehbr commented on #30
Removed the `opt` option and tried again on a markdown file and now i can run `GlowInstall`, but... i get the following error during the installation:

![image](https://user-images.githubusercontent.com/31735860/128584831-a8eb9b13-71cd-48b6-a4ca-bea336d96e22.png)

[2021-08-07 03:38] ellisonleao commented on #30
hm, is your `/tmp` folder with another permission maybe? the download basically puts the tar file over there, untar it, and moves the binary to $GOPATH/bin.

[2021-08-07 03:54] henriquehbr commented on #30
Sorry, but what exactly you mean by another permission?

I have proper permissions to access the `/tmp` directory, another thing that i also noticed is that after trying to install glow through `GlowInstall` and exiting from neovim, it leaves a `glow.tar`gz` on the directory where neovim was started, is it a intended behavior?

[2021-08-07 21:22] ellisonleao commented on #30
Can you give me some specs on what is your OS and version please?

[2021-08-07 22:13] henriquehbr commented on #30
**os:** Arch Linux x86_64
**kernel:** 5.13.8
**glow:** latest (HEAD -> 3688c38)
**nvim:** 0.5.0

[2021-08-14 10:48] qvieth commented on #31
@ellisonleao, I almost forgot there's a native solution for this:
- `Ctrl-w + |`  set window's width max
- `Ctrl-w + _` set window's height max
- `:h window-resize` for more `information.`

Map <C-w>z for window's size zoom :
- `vim.api.nvim_set_keymap("n", "<C-w>z", "<C-w>|<C-w>_", { noremap = true, silent = true})`

This works perfectly for my use case, you can close this `issue` if wanted. (I s

[2021-08-18 14:09] michzappa commented on #30
I have the same error and misplace glow.tar.gz as @henriquehbr on a Debian 9 server.

[2021-08-19 12:32] H4nYolo commented on #30
@henriquehbr

fixed it by installing glow manually: https://github.com/charmbracelet/glow

[2021-08-20 17:07] ellisonleao commented on #28
Guys i've fixed the GlowInstall command creation now and we had an update also in the install script. Can you guys pull latest and try again please?

[2021-08-20 17:07] ellisonleao commented on #30
Guys i've fixed the GlowInstall command creation now and we had an update also in the install script. Can you guys pull latest and try again please?

[2021-08-20 17:36] mortezadadgar commented on #28
packer installation still fails
![image](https://user-images.githubusercontent.com/27911493/130271856-ed1eeaa2-2f81-4f5c-9456-db6890dea013.png)
it's just bad for UX not actually means plugin installation has failed, I can't run :GlowInstall on any other file than *.md maybe that's why it fails

[2021-08-20 19:32] henriquehbr commented on #30
@H4nYolo many thanks for the suggestion, it worked for me as well!

@ellisonleao tried again with the latest version and got the same problem from the previous screenshot, looks like i can't install glow through `:GlowInstall`, but whenever i try to run `:Glow` with a pre-installed binary, it works fine, probably the problem might be on the way `:GlowInstall` handles the installation process

[2021-08-20 20:00] dominikhaid commented on #28
Install worked for me now without any errors.

[2021-08-20 20:38] ellisonleao commented on #28
are you sure you have the latest code? the glowinstall command is set after you load the plugin, for every filetype

[2021-08-21 04:41] mortezadadgar commented on #28
yeah I'm using the latest code
[code]
removed plugin and installed multiple times still fails

[2021-08-21 06:03] jc00ke commented on #28
[code]

What happens if you call the Lua function directly from the `run` callback as a `function`? I'm not sure if that'll work (on phone) but it's worth a try.

[2021-08-21 06:05] mortezadadgar commented on #28
@jc00ke works this way

[2021-08-23 12:23] gabojkz commented on #28
It is not working for me using:
NVIM v0.5.0-dev
Same error using GlowInstall but for Plug this time,

I am guessing the solution is to make the same as:
[code]

but this time for vimPlug any idea how to do it?

[2021-08-23 17:03] #19 closed

[2021-08-23 17:03] ellisonleao commented on #30
guys, new bugfix attempt was pushed. can you try again please?

[2021-08-23 17:26] ellisonleao commented on #28
guys, a new fix for the installation was just pushed. Can you guys pull latest and try again please?

[2021-08-23 17:30] henriquehbr commented on #30
I got the following error message when running `:GlowInstall`:

[code]

[2021-08-24 14:34] gabojkz commented on #28
<img width="830" alt="Screenshot 2021-08-24 at 15 34 21" src="https://user-images.githubusercontent.com/11217929/130636100-2aa8f8d3-9871-42f5-b716-7b46c5234365.png">
Still same problem for me

[2021-08-24 20:27] ellisonleao commented on #31
cool, i will be thinking more on this later, but good suggestion!

[2021-08-24 20:27] #31 closed

[2021-08-25 20:54] ayoubelmhamdi opened #36 "glow.nvim depende go to be update"
I can't update without installing `go`
but this dependence does not mention in `Redme`

[2021-08-27 03:33] ayoubelmhamdi opened #37 "file does not exists"
I can't open any other file
[code]
except for this file
[code]

[2021-08-29 03:15] ellisonleao commented on #30
@henriquehbr can you give the output for:

`uname`, `uname -a` and `uname -p` please?

[2021-08-29 03:16] ellisonleao commented on #28
hey @gabojkz are you sure you have latest code?

[2021-08-29 03:26] ellisonleao commented on #36
hey, @ayoubelmhamdi glow doesn't depend on Go to run. We used to put the downloaded binary in `$GOPATH` but now we've changed that to `$HOME/bin`  . Please update and check the latest README.

[2021-08-29 03:26] #36 closed

[2021-08-29 15:20] alexzanderr opened #38 "[feature request] create a preview vertically splitted to left or right."
would be very nice to have it right in the right/left side.
would very nice a fresh new reload after buffer save.

[2021-08-30 12:19] henriquehbr commented on #30
#### `uname`

[code]

#### `uname -a`

[code]

#### `uname -p`

[code]

[2021-09-01 18:11] shift-d commented on #18
Can reproduce this issue...

[2021-09-01 19:29] kvietcong commented on #18
Yeah, it was reproducible with the old init.vim I had. However, I did find a fix. I forgot about this issue b/c I stopped using glow after a while, so sorry about that. You just need to put this in your init.vim to fix many Powershell issues.

[code]

[2021-09-01 19:29] #18 closed

[2021-09-02 17:27] ellisonleao commented on #38
i actually thought about that when I first started this project, but I find the floating window a little bit better for this specific feature

not sure if I understand the concept. in the current implementation, since you are moved to the floating window you are not able to make any changes to the markdown file, so I don't think we will have this kinda of feature as well.

[2021-09-02 19:41] Pocco81 commented on #28
I'm experiencing the same issue too. The installation failed using the packer snippet from the README. I also tried it without the `run = "..."` and still, it said that it successfully installed glow, yet running `:Glow` failed. However, grabbing `glow` from the AUR worked fine for me.

[2021-09-03 01:12] mystilleef opened #39 "Install Glow binary at $HOME/.local/bin as per Freedesktop.org XDG standards"
I believe the major desktop environments on Linux follow the `XDG` standards. The recommended location to install binaries is in `$HOME/.local/bin`. On most Linux and Linux-like distributions, this location is already in `$PATH`.

Can this be the default location for `Glow`, at least on Linux? It save users from configuring paths, creating new folders, and what not.

https://specifications.freedes

[2021-09-03 03:04] ellisonleao commented on #39
I've been honestly struggling with this issue for quite some time. Unfortunately, I don't see a clear consensus on what should be the de facto path for local binary folders. I see:
- [`/usr/local/bin`](https://www.pathname.com/fhs/pub/fhs-2.3.html#USRLOCALLOCALHIERARCHY) as one of the most used (but this requires root access)
- [`$HOME/.local/bin`] for modern distros (Debian based mostly) which yo

[2021-09-03 03:05] #38 closed

[2021-09-03 05:05] mystilleef commented on #39
I don't know any major Linux distro that uses anything other than $HOME/.local/bin, or $HOME/.local/usr/bin, for local installation without admin privileges. All major distros follow the XDG spec which is backed by GNOME, KDE, RedHat, OpenSuse, and Debian based distros.

[2021-09-03 05:23] treeman opened #40 ".markdown files not supported"
I'm getting a "glow only support markdown files" when I try to open a `.markdown` file, even though the filetype is `markdown`. Opening `.md` works well.

[2021-09-03 13:20] ellisonleao commented on #40
is .mardown an extension for mardown as well? I am not sure if vim's filetype will work for it

[2021-09-03 13:40] treeman commented on #40
I don't think there's a single standard extension for markdown ([see this answer](https://superuser.com/questions/249436/file-extension-for-markdown-files)). I don't know how standard vim does it, but either way I've seen `.markdown` used in different places and I currently use the vimwiki for `.markdown` files well enough.

Maybe "force open the current file" would be an option in case of someone

[2021-09-03 14:11] academo commented on #39
`$HOME/.local/usr/bin` is standard and mentioned in the XDG specification https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html

Beyond that, you can also allow this to come in a configurable way:

* allow to configure the existing glow binary path
* allow to configure the path to use to download the glow binary if not existing
* allow to configure to simply try to use `glow

[2021-09-03 14:40] ellisonleao commented on #40
yeah, i am saying this because the `Glow` command is only working for markdown files that vim can understand. I will make some experiments here and let you know how we can handle this. Thanks for the feedback!

[2021-09-03 14:44] ellisonleao commented on #39
yeah, i am leaning towards having a default path (probably ~/.local/usr/bin or ~/.local/bin) and make that path configurable. Thanks for the feedback guys

[2021-09-03 17:59] treeman commented on #40
Awesome, and thank you!

[2021-09-04 10:54] babygau commented on #7
@ellisonleao I got the same issue, markdown preview is not scrollable, typing any keys make preview window quit.
FYI, I'm using
[code]

In cli, I also gotta use `glow -p path/to/md` to be able to scroll.

[2021-09-04 13:46] davidCarlos opened #41 "Could not install plugin with Plug"
Following the readme, i put the following line in my plug.vim

`Plug 'ellisonleao/glow.nvim', {'do': ':GlowInstall', 'branch': 'main'}`

After running `PlugInstall`, I got the following error:
![image](https://user-images.githubusercontent.com/2847027/132096543-3355d0ff-851a-4d40-adf6-a8cf87dbeedc.png)

nvim version: 0.5.0 stable
OS: fedora 40
plugin commit: 794649fa93a49f39e16364da5421508fe0223e4

[2021-09-04 14:07] davidCarlos opened #42 "Glow window colors are messed, depending on user colorscheme"
Preview window with onehalfdark colorscheme
![image](https://user-images.githubusercontent.com/2847027/132096999-72d9d42e-e2ce-4eca-a841-2b63170ea722.png)

Preview window with badwolf colorscheme
![image](https://user-images.githubusercontent.com/2847027/132097232-0b8baa91-4fd4-4977-85f8-245f8c915f8c.png)

nvim version: 0.5.0 stable
OS: fedora 40
plugin commit: 794649f

[2021-09-05 03:12] ellisonleao commented on #39
we now have `g:glow_binary_path` which can be used as the binary destination. It defaults to `$HOME/.local/bin`.  `:GlowInstall` will use it to download and extract over there. If everything goes ok on your side can we close this one?

[2021-09-05 03:15] ellisonleao commented on #42
hey, @davidCarlos thanks for the report.  Will need to investigate this one because I am not sure if this is related to this plugin. Are you using another plugin that uses floating windows as well? If so, can you verify if they are also having the same issues?

[2021-09-05 03:16] ellisonleao commented on #28
I've removed the suggestions about GlowInstall in the setup step for plugins. It should work after installing the main plugin

[2021-09-05 03:16] #28 closed

[2021-09-05 03:16] ellisonleao commented on #41
I've removed that suggestion. You will need to run that command after the plugin is installed now

[2021-09-05 03:16] #41 closed

[2021-09-05 05:14] mystilleef commented on #39
It's fixed. I'll close. Great job!

[2021-09-05 05:14] #39 closed

[2021-09-05 14:39] davidCarlos commented on #42
1. I made a clean .vim config file, loading only Glow and colorschemes

[code]
2. Starting nvim using this config `nvim -u clean.vim`
3. The colors keep messed

I tested this minimal config on kitty and gnome terminal

[2021-09-05 17:49] #37 closed

[2021-09-05 17:50] ellisonleao commented on #40
@treeman .markdown files are now supported! Please update the latest code and check it out

[2021-09-05 17:50] #40 closed

[2021-09-05 17:56] treeman commented on #40
Works great, thanks!

[2021-09-14 10:01] alexzanderr commented on #38
you find the floating window `a little better for yourself`.

im very sure you understand this concept of live update while writing.

thats the idea, the floating window is bad. we want a split to `left or right` to be very easily visible in real time while writing to the markdown file, all of these inside the neovim editor.

thats it. if you are in, then very good. we will appreciate your efforts

[2021-09-14 12:57] ellisonleao commented on #38
unfortunately this is not so straightforward. I am sure this is really cool feature, I just don't have the time to work in this right now. Feel free to open a PR and I will gladly review it for sure

[2021-09-14 12:58] alexzanderr commented on #38
okey then.

[2021-09-25 14:20] sethidden opened #43 "Live editing"
Is glow.nvim's main intention to be a .md reader - eg. "there's this .md file in my project's documentation. I'm reading it in neovim. It's a bit painful to read raw markdown so I'll use glow.nvim"?

Would something like having two splits side by side:
*  one with the .md file (regular editable nvim buffer)
*  one with the glow preview (that updates live whenever you write something in the .md fil

[2021-09-30 02:31] jordanisaacs opened #44 "Open glow when not in path"
I would like to have `:Glow` work even when glow is not in my path but it exists in `g:glow_binary_path`. Currently it opens the terminal up and says command not found. I believe it could be fixed by changing https://github.com/ellisonleao/glow.nvim/blob/ae61bac7a4ec720b247d016473d6214d0e8aa0cc/lua/glow.lua#L197 line to `vim.fn.termopen(string.format("%s/glow %s", bin_path, vim.fn.shellescape(path

[2021-10-01 02:00] ellisonleao commented on #44
good catch! will fix it ASAP

[2021-10-01 13:17] ellisonleao commented on #43
Live editing is not part of the plans for this plugin, but it could be a very nice feature indeed. The main idea is to edit first and toggle the preview after, so I think I will keep it this way for now.

[2021-10-01 13:17] #43 closed

[2021-10-01 13:18] ellisonleao commented on #42
yeah, I would say so. Have you tried with another colorscheme just to check?

[2021-10-04 19:19] davidCarlos commented on #42
Yes. With badwolf works as expected.

![image](https://user-images.githubusercontent.com/2847027/135911122-d0a1fa53-b0a0-43ee-98a2-f0a37c451e5f.png)

[2021-10-04 19:26] ellisonleao commented on #42
Cool, i will close this then since it seems that is not related to this plugin

[2021-10-04 19:26] #42 closed

[2021-10-17 14:45] ashishbinu commented on #44
@ellisonleao I have added a PR for the above issue.

[2021-10-19 06:39] guillegalor opened #47 "Unable to configure binary path on windows"
Hello,
I'm having a problem trying to configure the plugin in windows. I have installed glow using scoop as they suggest in their website, but whenever I try to execute the command :Glow, the message I get is "Install script not supported on Windows yet. ...".
I've tried to set the global variable g:glow_binary_path to the path where glow is installed, but it doesn't fix it either.  Any solutions?

[2021-10-25 02:38] Limaomao821 opened #48 "Unable to use glow.nvim in tmux"
When use neovim in tmux, :Glow gets an empty preview window
![Screenshot from 2021-10-25 10-42-18](https://user-images.githubusercontent.com/30401131/138626966-d7443297-b55e-4e16-a96e-923bbf3c9c07.png)

[2021-10-31 09:54] Limaomao821 commented on #48
Quite strange, now tmux and glow work fine when I did completely nothing.

So close this issue, thx again.

[2021-10-31 09:54] #48 closed

[2021-11-04 10:35] bryceyang commented on #42
![image](https://user-images.githubusercontent.com/9302617/140299017-429ceb66-37b0-413e-8f8b-15e0a44b31e2.png)

@tissieres  this does the trick. glow itself can set color style. when we use a light theme, we have to set `glow -s` to light.

Is there a way  to pass args to glow through glow.nvim? @ellisonleao

[2021-11-04 10:39] tissieres commented on #42
Yes, I did the same.

[2021-11-04 12:44] ellisonleao commented on #42
@bryceyang not yet, i am working in a `setup()` function where we will have several configs. I hope to get it done soon

[2021-11-08 18:21] ellisonleao opened #52 "new config system"

[2021-11-15 04:47] p00f opened #53 "licensing/copyright question"
Hey I made a markdown preview plugin inspired by glow.nvim: https://github.com/p00f/mdpreview.nvim

It uses the same path expansion and floating window logic as glow.nvim so I licensed it under MIT giving you copyright:
https://github.com/p00f/mdpreview.nvim/blob/main/LICENSE#L3

and credited you in the readme:
https://github.com/p00f/mdpreview.nvim#credits

Is this enough?

[2021-11-16 13:34] #53 closed

[2021-11-19 03:45] siduck opened #54 "Blank output"
Hi I installed the plugin and :Glow gives me a blank floating window

![image](https://user-images.githubusercontent.com/59060246/142561413-fbb21a91-fc5c-4c15-8f5a-77d58773c96b.png)

[2021-11-19 03:47] siduck commented on #54
Pressing i + enter in the floating window shows the preview but it also shows "process exited"

![image](https://user-images.githubusercontent.com/59060246/142561519-90b914ac-b9aa-47dc-bd75-524b2adef889.png)

[2021-11-19 13:45] ellisonleao commented on #54
[Process exited] is expected, however the black screen at the beginning is not. Can you share you OS specs, neovim version please?

[2021-11-19 14:38] siduck commented on #54
[code]

OS : void linux

[2021-11-19 14:39] siduck commented on #54
@ellisonleao I tried a minimal config and the plugin works , Im not sure whats the issue with my config. does this plugin depend on plenary or another plugin?

[2021-11-19 16:42] ellisonleao commented on #54
@siduck no, it just depends on the glow binary and a neovim 0.5+ version

[2021-11-24 03:35] Limaomao821 commented on #54
in #48, I came across a similar problem. The exact problem could be described as follows:

1. after system reboot, glow.nvim works just as fine (the very first time use glow.nvim).

2. after first use, glow.nvim will give blank output.

3. reboot system and step 1 and 2 will repeat.

I wonder @siduck may have the same issue as me?

environment: Linux 5.11.0-40-generic #44~20.04.2-Ubuntu SMP x86_64

[2021-11-24 11:26] Limaomao821 commented on #54
It seems that everythings work fine before termopen().

Could it be some misconfigurations on buf options?

[2021-11-24 12:25] siduck commented on #54
wym?

[2021-11-24 12:43] Limaomao821 commented on #54
In glow.nvim source code lua/glow.lua:209, comment this line and try glow.nvim.

Also, try :lua vim.fn.termopen("glow path/to/file"), it works.

So I suspect something not right about buf options.

[2021-11-30 05:02] siduck commented on #54
I commented that line and executed that command , it worked

[2021-12-14 02:20] #21 closed

[2021-12-15 16:41] dstanberry opened #58 "`uname -p` check reports the cpu model name on WSL"
https://github.com/ellisonleao/glow.nvim/blob/d86281307ce2898d0fcd85ecb0865fc1dd2f2578/lua/glow.lua#L88-L95

I've checked with two wsl distros and for me `uname -p` reports the cpu model (not x86_64 for example).
`uname -m` does however respond with x86_64. Due to this the order of assignment for `arch` the utility fails incorrectly. Why is the `-p` needed at all?

[2021-12-20 21:12] DrJackilD opened #59 "Feature: Open new split window to preview side-by-side"
It will be great to have an option when we could open MD file in the new split (or just a new buffer) and observe live changes (not sure if it's doable with Glow tho)

[2021-12-31 01:34] nrj5k commented on #58
I use Slackware and I faced a similar issue too. Fixed it by changing `-p` to `-m` and GlowInstall worked

[2022-01-04 16:08] shrkamat opened #61 "Glow syntax highlight / color(s) woundn't work on windows platform"
I find glow syntax highlighting don't work on Windows. I have another Ubuntu machine with same neovim init scripts & glow syntax coloring works fine there. I am using `neovim 0.6.1` with packer on both Ubuntu and Windows.

![Failure](https://i.imgur.com/xAVdSE8.png)

I have intstalled glow to this path & updated `glow_binary_path`

[code]

P.S. this woks fine on [windows terminal](https://github.c

[2022-01-08 14:47] ellisonleao commented on #58
does `uname -m` works for all linux dists ? we can work on a new strategy to get this value for sure. If you guys have another option just create a new PR or put some comments here and we can discuss it. Thanks!

[2022-01-08 14:48] ellisonleao commented on #61
Hey @shrkamat thanks for the report! Unfortunately i don't have a way to test this on windows machines now. If you have a workaround just let me know and i can make the changes.

[2022-01-08 14:48] #47 closed

[2022-01-11 01:10] nrj5k commented on #58
Maybe it is something between uname versions? I have version 9.0,

It might be easier to use `uname -a` and do a string search for the arch. `uname -a | grep -wo <arch>` should be a valid replacement, but you'll have to iterate over the archs.

[2022-01-12 15:31] YuCao16 opened #62 "Glow.nvim with math expression(LaTex)"
Sorry I have not found document related to using Glow.nvim with markdown file that include LaTeX formulas. And so far it seems that if markdown files include LaTex formula such as `$$x^2$$`, Glow.nvim will skip this line (the whole line). At the same time, I'm using vim.markdown and it could display correctly.
Did I do something wrong or miss any documents?

[2022-01-12 16:43] ellisonleao commented on #62
this is probably an issue for the main glow project, which seems [out of scope](https://github.com/charmbracelet/glow/issues/312).

can you elaborate on that ? are you using concealing

[2022-01-12 17:31] YuCao16 commented on #62
I did use concealing, but I don't know exactly how vim.markdown did that, and here below is what it looks like:(I only set `let g:vim_markdown_math = 1` in my init.vim file.)
<img width="98" alt="image" src="https://user-images.githubusercontent.com/62466929/149190136-6339b711-8158-4770-bc66-9b460b1803d6.png">

I mean if It can't display the math expression, it's fine, I can still see them in othe

[2022-01-13 00:33] YuCao16 commented on #62
Sorry my bad, if I save the file it will display correctly, so I have to save my file before call `:Glow` ?

[2022-01-15 08:23] karlredman commented on #7
@babygau / @ellisonleao I am running into the exact same thing -regardless of terminal and even isolated as glow being the only plugin. I can provide more info upon request -if the ticket gets readressed.

[2022-01-24 14:24] ellisonleao commented on #62
@YuCao16 unfortunately for now, yes. We can work on getting this better later, but for now, you will still have to save it first

[2022-01-26 00:16] #62 closed

[2022-01-26 00:16] YuCao16 commented on #62
Got it, thanks

[2022-02-06 16:27] teenjuna commented on #26
Hi there! Do you have any ideas about implementation?

[2022-02-22 02:39] XXiaoA opened #65 "Only show '[Process exited 139]'"
when i use :Glow it only show [Process exited 139]

[2022-02-25 19:53] #27 closed

[2022-03-09 00:16] ellisonleao commented on #65
hey @XXiaoA can you give more information please?

[2022-03-10 15:50] mehalter opened #66 "Rmarkdown Files Not Supported"
I'm getting a "glow only support markdown files" when I try to open a `.rmd` file, even though the filetype is markdown. Could this extension please be added :)

Great plugin by the way!

[2022-03-10 18:05] #66 closed

[2022-03-13 16:24] grun00 opened #68 "[vim-plug] Not an editor command: GlowInstall"
Hey, so I tried installing this with vim-plug and I'm getting a `E492` when trying to run GlowInstall

My nvim is v0.6.0

[2022-03-13 20:15] ellisonleao commented on #68
hey @grun00 how are you installing it? are you using latest version?

[2022-03-14 12:35] grun00 commented on #68
I'm using the latest version of vim-plug, with version 0.6.0 from nvim. I just run :PlugInstall with the relevant line on my `init.vim` (Plug 'ellisonleao/glow.nvim'). When I check the plugin folder, it seems like it's all there:

[code]

Hope that info is relevant. Do you have any idea of what might be the problem?

[2022-04-03 09:12] RaulOn18 commented on #65
I'm having the same problem.
when i use `:Glow README.md` it only shows [Proccess exited 139]
![image](https://user-images.githubusercontent.com/48642800/161419957-c4003dfe-faba-4dfb-b2ec-79538e4d233b.png)

*  Artix
* 5.16.16-artix1-1
* NVIM v0.6.1

- [x] Install Glow With `:GlowInstall`
- [x] Reinstall Glow with `:PackerInstall`

[2022-04-04 16:51] covercash2 opened #69 ""OS not supported/recognized" on M1 Macbook"
I'm not sure what the effort is to support the M1. I just got this new laptop and was looking to migrate away from emacs for my notes (it doesn't work great on M1 either). I haven't looked much into the code for why this isn't working. let me know if there's any more info I can provide

[2022-04-04 17:09] ellisonleao commented on #69
hey @covercash2 thanks for the reporting this. I am working on getting the Windows and M1 support a little bit better, but in the meantime, can you try to install the [latest glow binary ](https://github.com/charmbracelet/glow/releases/tag/v1.4.1)and see if its works in your terminal ?

[2022-04-04 17:19] covercash2 commented on #69
glow works for sure 👍

[2022-04-05 02:30] danielyrovas commented on #59
Perhaps refresh glow on write? It would be good if #26 was implemented so it wasn't jumping around on each refresh. Opening in a split is definitely attractive to me.

[2022-04-14 12:42] mickepojken opened #71 "Magenta background"
Hey! Trying out glow, but for some reason the background is magenta. It's persisent across both the built in light and dark theme and other colour schemes for my terminal. Any ideas why? Here's a screenshot. Using neovim on arch. Terminal is alacritty.
![2022-04-14-14-41-12_](https://user-images.githubusercontent.com/97978235/163392682-291cddc2-0c07-43ed-a23c-422a8f11d01b.png)

[2022-04-14 14:16] ellisonleao commented on #71
do you have the same output using it directly in the terminal?

[2022-04-14 15:11] mickepojken commented on #71
No, there it's fine.

[2022-05-09 02:03] JuanCldCmt opened #72 "AMD64 systems Returns "Architecture not supported/recognized!""
Hello, dev
Thanks for your plugin, but when I enter ```:GlowInstall ```, it failed with:
[code]
I'm using packer, and the config is:
[code]
And uname -a returns:
[code]

[2022-05-09 02:09] JuanCldCmt commented on #72
neovim version is:
[code]

[2022-05-09 02:44] JuanCldCmt commented on #72
I looked into the code and fixed it, please see #73 for more details.

[2022-06-11 15:59] JuanCldCmt commented on #58
Is this bug still here after #73 ? I've checked both GNU coreutils and BSDs' man pages:
[code]
Maybe on macOS, the `uname -p` returns the architecture.
I don't have a BSD system for testing, but I think if you are using GNU's coreutils (Which is what most linux users would use),
`uname -m` should return the right answer.
and this bug should be fixed after #73 .

[2022-06-15 15:28] dstanberry commented on #58
I agree #73 seems to resolve this. Closing now..

[2022-06-15 15:28] #58 closed

[2022-06-17 21:41] ellisonleao commented on #65
Are you guys able to run `glow` outside neovim?

[2022-06-17 21:42] ellisonleao opened #75 "Breaking changes"
Using this issue to provide information about breaking changes

[2022-06-24 00:38] marco7m commented on #71
I had the same issue here. One thing I noticed is that the same background color is on the menu that appears when I type " : " (bottom-left of the printscreen) (I also want to change that but don't know how)

![image](https://user-images.githubusercontent.com/11334546/175437368-4c29de75-fbd4-4f5a-9cd3-f5e1273a9b2b.png)

[2022-07-01 20:49] ellisonleao commented on #71
hey guys, can you share some configs please? i am wondering if this is a missing `termguicolors` option issue

[2022-07-15 01:47] #52 closed

[2022-07-15 01:49] ellisonleao commented on #59
Moving this to a new discussion topic here https://github.com/ellisonleao/glow.nvim/discussions/78

[2022-07-15 01:49] #59 closed

[2022-07-15 01:50] ellisonleao commented on #26
Moved to discussion topic here https://github.com/ellisonleao/glow.nvim/discussions/79

[2022-07-15 01:50] #26 closed

[2022-07-15 01:50] ellisonleao commented on #68
Closing this issue since the new code has remove this function and now the installation process is handled inside the plugin

[2022-07-15 01:50] #68 closed

[2022-07-15 01:52] ellisonleao commented on #69
New config system and installation process is now in the main branch. Can you guys check if everything is working, please?

[2022-07-15 01:54] ellisonleao commented on #65
Guys can you pull latest and try again please? We did some improvements in the installation process which i hope can fix the issue on some distros

[2022-07-15 01:55] ellisonleao commented on #54
guys can you pull latest and close this issue if the problem is resolved?

[2022-07-15 01:56] #54 closed

[2022-07-15 02:03] ellisonleao commented on #30
The GlowInstall command was just removed and a new installation process is in place. Can you pull latest and check if it's working now?

[2022-07-15 02:26] XXiaoA commented on #65
Yeah, I tried again just now, and it can work correctly. Thanks for ur great work!

[2022-07-15 13:57] ellisonleao commented on #71
We were closing this since we still got no response so far. If the issue still persists, please open a new one

[2022-07-15 13:57] #71 closed

[2022-07-15 13:57] #30 closed

[2022-07-15 13:57] #69 closed

[2022-08-01 21:56] mengano-net opened #82 "OS not supported"
Hi:

Great plugin by the way, thanks for your efforts.

I upgraded nvim at some point in the recent past, now :Glow won't run, I'm not sure what changed, here is my config:

- nvim version
[code]
- macOS Monterry 12.5
- `:lua print(vim.loop.os_uname().sysname)` = "Darwin"
- I use `wbthomason/packer.nvim` to manage my plugins, this is my :Glow snippet:
[code]

[2022-08-01 22:09] mengano-net commented on #82
More details that will hopefully aid troubleshooting

[code]

[2022-08-03 06:52] Ghasak commented on #82
Hi @mengano-net
I have added a pull request
[HotFix](https://github.com/ellisonleao/glow.nvim/pull/83/commits/447c02bcc0c28ba71c2a4eb242ef9f83f72d202fl)
I have used the as you suggested `vim.loop.os_uname().sysname`
instead `jit.os`
You can achieve temporarily until get approved the same at
`~/.local/share/nvim/site/pack/packer/start/glow.nvim/lua/glow`
Simply by changing the line
local raw_os = j

[2022-08-03 16:26] ellisonleao commented on #82
@Ghasak and @mengano-net can you guys show the output for:

[code]

not sure why that env is not working for your OS/arch

[2022-08-04 14:43] mengano-net commented on #82
`"OSX"`

[2022-08-04 15:28] mengano-net commented on #82
Confirmed fix worked, thanks all.

[2022-08-09 03:00] Ghasak commented on #82
Hi @ellisonleao and @mengano-net
Yes, same for me,
the output is of jit.os is **OSX** not **Darwin**

[2022-08-24 11:50] cckcoder opened #86 "Glow in my neovim look weird"
Hi, First of all thx a lot to make great thing, I'd like you help me about weird stuff

![image](https://user-images.githubusercontent.com/25289970/186410732-6f8e48ee-9e0d-4082-ba83-7d79e9209313.png)

as you see in the picture it have | | |

I'm use `Ubuntu 22.04.1 LTS`
and neovim version `NVIM v0.8.0-dev+237-g6e414b698`

[2022-08-25 17:57] michaeldelgado1 opened #87 "Supporting preview location"
This project is really exciting.  I'm wondering if there are any plans to support changing the location of where the preview window opens. I'm quite comfortable with having my preview to the side of my markdown document.

Side note:
It could cause confusion as I don't think the preview will update in real time, but maybe a recipe could be made to set up an auto command that re-executes the glow co

[2022-08-25 18:19] ellisonleao commented on #87
hey @michaeldelgado1 , yes we have plans for that in https://github.com/ellisonleao/glow.nvim/discussions/78. Please make sure to follow the discussion

[2022-08-25 18:20] #82 closed

[2022-08-25 20:34] #87 closed

[2022-09-02 00:17] frankfaustino opened #88 "Compatibility issues with vimwiki"
Glow doesn't work with vimwiki. Trying to preview a markdown file displays "preview only works on markdown files". It seems that nvim detects the file as a "vimwiki" file instead of a "markdown" file (see bottom right of the screenshot below).
<img width="976" alt="with-vimwiki" src="https://user-images.githubusercontent.com/2607929/188033022-8bd5f889-ce1a-48e9-9108-2a61da09f53a.png">

Second scre

[2022-09-04 04:24] snoblenet opened #89 "glow.nvim is mangling file paths"
Thanks for creating glow.nvim.

In one of my markdown files, I have a line like this:

[code]

In normal mode in Neovim, entering `gf` while the cursor is on the filepath takes me to the file.

In Glow in the CLI, this line is shown as:

[code]

Not perfect, but OK.

In glow.nvim, this line is shown as:

[code]

This contradicts the goal of providing a pleasing markdown preview without distraction

[2022-09-12 13:06] CalebDW opened #90 "Glow not rendering markdown---blank window"
Hello,

I updated my glow config to use the new `setup()` function (see below) but now the glow window is empty when trying to preview my file:
[code]

![image](https://user-images.githubusercontent.com/4176520/189660131-1b156899-3a17-494f-be2e-bb81d5b22606.png)

If I update `pager` to  `true` (not really sure what this option is for...perhaps you could explain in docs?) then I can see the rendere

[2022-09-19 19:52] elliotec commented on #88
I went down this rabbit hole and discovered the problem is an issue with Vimwiki rather than glow. [This Reddit thread](https://www.reddit.com/r/vim/comments/vkbyfa/vimwiki_and_vimmarkdown_conflicting/) explains the issue but tl;dr Vimwiki hijacks the filetype of markdown files and tricks vim into thinking they're vimwiki files when you've enabled it to work with markdown, which causes conflicts w

[2022-09-19 20:28] ellisonleao commented on #88
we can add vimwiki filetype to the allowed extensions but you will still get issues with the links and possibly other ones. Will that work?

[2022-09-20 18:52] elliotec commented on #88
@ellisonleao I think that will work to get Glow to function, but to your point it wont fix all the other markdown issues people will run into using vimwiki. Probably good enough for a lot of folks though!

[2022-09-22 20:23] ellisonleao commented on #88
Just pushed a commit allowing vimwiki filetypes and .wiki extensions. This will not fix the rendering part though.

[2022-09-22 20:23] #88 closed

[2022-10-05 22:10] anoduck opened #92 "OpenBSD is not supported, yet glow and nvim is?"
Installed package, hoping to use it to render markdown files. It should have been a sure thing, since both neovim, glow, and lua are supported in OpenBSD. Yet, when I went to generate the preview, I received the error, `os not supported`.  So, I am looking for a reason as to why I received this message, and obviously why OpenBSD is not supported?

[2022-10-06 02:41] ellisonleao commented on #92
hey @anoduck do you already have the glow binary installed?

[2022-10-06 07:29] anoduck commented on #92
Yes, I do in `~/go/bin/bin/glow`.

[2022-10-06 12:57] Ghasak opened #93 "Getting the message of old configurations at startup"
I keep getting the message:

`glow.nvim: old configs were merged in the new config system, please update your configuration using the new setup() function. `

My Configurations:
[code]

then I call it in packer (assume the configuration above with file name: myGlowMark.lua)

[code]
Is there anything wrong with my configurations?
I am using `MacBookPro14` M1.

[2022-10-06 13:48] ellisonleao commented on #92
@anoduck @Ghasak that config no longer exists. If you have `glow` binary in your `$PATH`, the plugin should automatically find it for you. If not, it will try to install in the `install_path` (Just updated README doc) config var

[2022-10-06 20:03] anoduck commented on #92
@ellisonleao sadly, this is not working. I am still receiving the `os unsupported` error. Are there any special configuration requirements to setup go to work with neovim?

Here is my configuration for packer:

[code]

[2022-10-06 20:16] ellisonleao commented on #92
the `os not supported` msg happens when the plugin does not identify the glow binary installation and tries to install it. The install script tries to install it, but it can't identify your OS, then it outputs that msg. but there's seems to be a bug in the `glow_path` check as well which I will investigate. Also you don't need the default field values in your setup call, it should be something lik

[2022-10-07 04:07] anoduck commented on #92
@ellisonleao Eureka! AND Ah, Crap! Foiled again!

I found it, I found it, ah shit, I really found it.

Why does it always have to be user error? More importantly, why does it have to be my error?

The error is the result of a missing `:` while defining `vim.env.PATH`. This missing character prevented neovim's path from properly being configured, so neovim never was able to pick up on any of my go

[2022-10-07 04:07] #92 closed

[2022-10-07 16:48] ellisonleao commented on #93
hey Ghazak the only remaining `glow_*` config is `glow_path` now. I saw your current is also using the default values, so just calling `require('glow').setup()` will be enough to get things started. If you need custom configs, make sure to check the default values in [README](https://github.com/ellisonleao/glow.nvim/blob/main/README.md#setup)

[2022-10-07 16:51] ellisonleao commented on #89
hey, @snoblenet thanks for the PR. Unfortunately, I don't have an immediate solution for this but I already have something in mind that would help. That issue is because we use a strategy that can render current buffers without saving them first and also the ones which are. I've opened [a discussion](https://github.com/ellisonleao/glow.nvim/discussions/78) that will probably solve this issue too.

[2022-10-07 16:52] ellisonleao commented on #86
hey @cckcoder can you show your config please?

[2022-10-08 03:33] Ghasak commented on #93
Thank you very much for your reply, It seems the message still be printed even when I remove all configurations by calling require('glow').setup().
I really appreciate your support, it doesn't bother me this message, but I wish to know if my configurations are correct? hmmm!
I even tried to just calling the `:Glow` command directly which gave the same message.

[2022-10-08 06:34] Ghasak commented on #93
Thank you very much for your support, it has been resolved.
Sincere regards,

[2022-10-08 06:34] #93 closed

[2022-10-15 13:54] timii opened #94 "OS not supported - Windows"
Hi,

When I try to run `:Glow` it won't run for me, it only says "OS not supported"

### My config:

- nvim version:
[code]

- Windows 10 Home 21H1 19043.2130
- `:lua print(vim.loop.os_uname().sysname)` = "Windows_NT"
- `:lua vim.pretty_print(jit.os)` = "Windows"
- I use `packer.nvim` and this is my init.lua
[code]

I also saw the other issue #82, but it still doesn't work

[2022-10-24 06:51] onionka commented on #42
Hi @ellisonleao, I know this ticket is closed, but have just one question regarding fixing this issue (workaround).
How could I override color scheme of Glow?
I mean, you wrote to README that we can set up glow json, but where it is please?

[2022-10-30 02:55] huyz commented on #90
I have to invoke it several times.  The first few times the window disappears immediately. Then after a few times, the window stays up but is blank for me too.

[2022-11-02 16:58] hem-brahmbhatt opened #97 "Requiring glow returns a boolean instead of an object"
Whenever I try to require glow and use `.setup()` or any other function, I get an error:

[code]

Looking more closely, I noticed glow is returned as `true` instead of an object.

[code]

Even if I run `:Glow` on a markdown file, I get the same error.

## System Info
MacOS Monterey 12.6
Neovim v0.8.0
glow commit hash 9038d7cdd76a930973b6158d800c8dbc02236a4b

[2022-11-03 12:03] hem-brahmbhatt commented on #97
The issue was that I had named my setup file the same as the plugin. I created a `glow.lua` file for the setup config and was importing it into my entrypoint `init.lua` using `require('glow')`, which was conflicting with the plugin.

Renaming the setup file to `glowsetup.lua` and importing using `require('glowsetup')` fixed the issue for me.

Always remember to make sure your setup files are named

[2022-11-03 12:03] #97 closed

[2022-11-10 08:36] lioaslan commented on #94
same issue